<h1>To-Do List</h1>
<p>Here are you tasks:</p>

<ul>
  <% @tasks.each() do |task| %>
    <li><%= task.description() %></li>
  <% end %>
</ul>

<p>Create a new Task:</p>

<form action="/tasks" method="post">
  <div class="form-group">
    <label for="description">Task Description</label>
    <input id="description" name="description" type="text" class="form-control">
    <button name="submit" class="btn">Add Task</button>
  </div>
</form>
