<h1>To-Do Lists</h1>

<% if @lists.any?() %>
  <p>Here are your lists:</p>

<ul>
  <% @lists.each() do |list| %>
    <li><a href = 'lists/<%= list.id() %>'><%= list.name() %></a></li>
  <% end %>
</ul>

<%else %>
  <p>You don't have any lists yet! Create one below.</p>
<% end %>

<p>Create a new List:</p>

<form action="/lists" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Name of List</label>
    <input id="name" name="name" type="text" class="form-control">
    <button name="submit" class="btn">Add List</button>
  </div>
</form>
